$primary: #109984;
$thumbnail-border-radius: 1.5em;

//////////// animacion habiliadades ////

#circle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50px;
  height: 50px;	
}

.loader {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 1px solid rgba(254, 254, 254, 0.212);
  border-top: 4px solid rgba(0, 153, 255, 0.222);
  border-radius: 50%;
  animation: rotate 100s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 


///////////////////////////
$grid-breakpoints: (
  xs: 0,
  sm: 360px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.fondo {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(220,220,249,1) 50%, rgba(255,255,255,1) 100%);;
}

:root{
  --esquinasImagenes: .5em;
  --tamanoIconos: 1.5em;
}

#fotoPerfil img{
  border-radius: 150em;
  margin-top: -5em;
  width: 14em;
}

#fotoHobbies img{
  border-radius: 150em;
  width: 90%;
}

.imagenWorkEducation{
  width: 90%;
  border-radius: var(--esquinasImagenes);
}

.imagenArgentinaPrograma{
  width: 100%;
  border-radius: var(--esquinasImagenes);
}

.imagenBanner{
  width: 100%;
}

.iconosContactos{
  width: var(--tamanoIconos);
}

.col-10 a{
  text-decoration: none;
}

#fondoLoginBanner{
  background-color: #d8d3d3;
}

#iconEditar{
  width: 2em;
}

#progressBar{
  height: 1.3em;
  background-color: #b8f8b9;
}
#progressBarPorcentaje{
  width: 50%;
}

@import "../node_modules/bootstrap/scss/bootstrap";
