
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <img class="imagenBanner" src="https://trello.com/1/cards/636fb47e9843a200ac4ff506/attachments/63701a9844ef6a004a7d7545/previews/63701a9944ef6a004a7d7597/download/banner_portfolio.png" alt="Imagen-banner">
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row align-items-start">
    <div class="col-lg-3 col-sm-12 text-sm-center" id="fotoPerfil">
      <img class="" src="https://trello.com/1/cards/636fb47e9843a200ac4ff506/attachments/636fd5af7cb0fc00c87d96a7/previews/636fd5b07cb0fc00c87d96cb/download/fotoPerfil.png" alt="foto-perfil"><br>
      <h2> {{ presentation1[0] + " " + presentation1[1] }} </h2>
    </div>
    <div class="col-lg-8 text-lg-start col-sm-12 text-sm-center"><br>
      <h3> {{ presentation1[2] }} </h3><br>
      <span> {{ presentation1[3] }} </span>
    </div>
  </div>
</div>
