
<div class="container-fluid">
  <div class="row">
    <div class="col-12" id="fondoLoginBanner">
      <img class="imagenBanner" src="{{ bannerPresentation.url_banner }}" alt="Imagen-banner">
    </div>
  </div>
</div>

<div class="container" >
  <div class="row align-items-start">
    <div class="col-lg-3 col-sm-12 text-sm-center" id="fotoPerfil" >
      <img class="" src="{{ bannerPresentation.url_photo }}" alt="fotoPerfil"><br>
      <h2> {{ bannerPresentation.name }} </h2>
    </div>
    <div class="col-lg-8 text-lg-start col-sm-12 text-sm-center">
      <div class="row" *ngIf="estaLogueado()">
        <div class="col text-end">
          <button class="btn">
            <img id="iconEditar" src="../../assets/icons-svg/pencil.svg" alt="iconsPencel">
          </button>
        </div>
      </div><br>
      <div class="row">
        <div class="col">
          <h3> {{ bannerPresentation.title }} </h3><br>
          <span> {{ bannerPresentation.presentation }} </span>
        </div>
      </div>
    </div>
  </div>
</div>


