
<br><br>

<div class="container text-center py-1">
  <div class="row align-items-start">
    <div class="col-lg-3 text-center col-sm-12">
      <h5>Educacion</h5>
    </div>
  </div>
</div>


<div class="container">
  <div class="row align-items-center py-3" *ngFor="let education of educations">
    <div class="col-3 text-center">
      <img class="imagenWorkEducation" src="{{ urlImgWorkExperience }}" alt="ImagenEmpresa">
    </div>
    <div class="col-9">
      <h5> {{ education.name_education }} </h5>
      <h6> {{ education.place_education }} </h6>
      <h6> {{ education.level_education }} </h6>
      <span> Duracion: {{ education.duration_education }} </span>
    </div>
  </div>
</div>
