<br><br>
<div class="container text-center">
  <div class="row">
    <div class="col-lg-3 text-center col-sm-12">
      <h5>Habilidades duras y blandas</h5>
    </div>
  </div>
</div>

<div class="container text-center" >
  <div class="row" >
    <div class="col-lg-11 text-end col-sm-12" *ngIf="estaLogueado()">
      <button class="btn">
        <img id="iconEditar" src="../../assets/icons-svg/pencil.svg" alt="iconsPencel">
      </button>
    </div>
  </div>
</div>


<div class="container py-3">
  <div class="row">
    <div class="col-lg-3 text-center col-sm-6 py-4" *ngFor="let skill of skills">
      <div class="progress" id="progressBar">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Example 1px high" id="progressBarPorcentaje" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> {{skill.percentage_skill}}% </div>
      </div>
      <h6> {{skill.name_skill}} </h6>
  </div>
</div>
</div>

