<br><br>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h5>Tiempo Libre</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-11 text-end col-sm-12" *ngIf="estaLogueado()">
      <button class="btn">
        <img id="iconEditar" src="../../assets/icons-svg/pencil.svg" alt="iconsPencel">
      </button>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row align-items-end">
    <div class="row">
      <div class="col-lg-3 col-sm-6 py-3" id="fotoHobbies" *ngFor="let hobbie of hobbies">
        <img src="{{ hobbie.url_photo_hobbies }}" alt="imagen pasatiempo">
        <h5> {{hobbie.name_hobbies}} </h5>
      </div>
    </div>
  </div>
</div>