
<br><br>
<div class="container py-1">
  <div class="row">
    <div class="col-lg-3 text-center col-sm-12">
      <h5>Experiencias Laborales</h5>
    </div>
    <div class="col-lg-11 text-end col-sm-12" *ngIf="estaLogueado()">
      <button class="btn">
        <img id="iconEditar" src="../../assets/icons-svg/pencil.svg" alt="iconsPencel">
      </button>
    </div>
  </div>
</div>


<div class="container">
  <div class="row align-items-center py-3" *ngFor="let work of works">
    <div class="col-3 text-center">
      <img class="imagenWorkEducation" src="{{ urlImgWorkExperience }}" alt="Imagen-empresa">
    </div>
    <div class="col-8">
      <h5> {{ work.name }} </h5>
      <h6> {{ work.job }} </h6>
      <h6> {{ work.duration }} </h6>
      <span> {{ work.chores }} </span>
    </div>
  </div>
</div>
