
<div class="container-fluid py-2" id="fondoLoginBanner">
  <div class="row align-items-center">
    <div class="col-lg-2 col-sm-4">
      <img class="imagenArgentinaPrograma" src="{{bannerr.url_photo_argProg}}" alt="logoArgentinaPrograma"> 
      <!-- link de imagen de argprog llega vacia. -->
    </div>

    <div class="col-lg-10 text-end col-sm-8">
      <div class="row">
        <div class="col">
          <button class="btn" *ngIf="estaLogueado()">
            <img id="iconEditar" src="../../assets/icons-svg/pencil.svg" alt="iconsPencel">
          </button>
        </div>
      </div>
      <div class="row align-items-end">
        <div class="col-12">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary">Esp...</button>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalContactos">Contactos</button>
            <button type="button" class="btn btn-outline-primary">login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Contactos-->
<div class="modal fade" id="modalContactos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Contactos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngFor="let contact of contacts">

        <div class="row py-2">
          <div class="col-2 text-center" >
            <img class="iconosContactos" src="https://trello.com/1/cards/63722a34edf18801cd143190/attachments/63723c09cd331d0243d7599f/previews/63723c09cd331d0243d759b6/download/icono_gmail.png" alt="iconogmail">
          </div>
          <div class="col-10">
            <a href="{{contact.email_contact}}" target="_blank"> {{contact.email_contact}}  </a>
          </div>
        </div>

        <div class="row py-2">
          <div class="col-2 text-center" >
            <img class="iconosContactos" src="https://trello.com/1/cards/63722a34edf18801cd143190/attachments/63723c0bf7fd17059de385e2/previews/63723c0cf7fd17059de38626/download/icono_linkedin.png" alt="iconoLinkedin">
          </div>
          <div class="col-10">
            <a href="{{contact.linkedin_contact}}" target="_blank"> {{contact.linkedin_contact}} </a>
          </div>
        </div>

        <div class="row py-2">
          <div class="col-2 text-center" >
            <img class="iconosContactos" src="https://trello.com/1/cards/63722a34edf18801cd143190/attachments/63723c0a0b14d403283c0ee2/previews/63723c0a0b14d403283c1002/download/icono_instagram.png" alt="iconoInstagram">
          </div>
          <div class="col-10">
            <a href="{{contact.instagram_contact}}" target="_blank"> {{contact.instagram_contact}}  </a>
          </div>
        </div>

        <div class="row py-2">
          <div class="col-2 text-center" >
            <img class="iconosContactos" src="https://trello.com/1/cards/63722a34edf18801cd143190/attachments/63723c08ee6c6c02d8505fbf/previews/63723c08ee6c6c02d8505fc9/download/icono_discord.png" alt="iconoDiscord">
          </div>
          <div class="col-10">
            <a href="{{contact.discord_contact}}" target="_blank"> {{contact.discord_contact}} </a>
          </div>
        </div><br>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

      </div>
    </div>
  </div>
</div>


