
<div class="container-fluid text-center py-2">
  <div class="row align-items-end">
    <div class="col-xl-3 col-md-3 col-sm-4">
      <img class="img-fluid img-thumbnail" src="https://trello.com/1/cards/636fb47e9843a200ac4ff506/attachments/636fb5e01fce8b03abdef341/previews/636fb5e11fce8b03abdef34d/download/argentina-programa.png" alt="Argentina-Programa">
    </div>

    <div class="col-xl-6 col-md-4 col-sm-1"></div>

    <div class="col-xl-3 col-md-5 col-sm-7">
      <div class="row align-items-end">
        <div class="col">
          <div class="col">
        </div><a href="./">Esp > </a>
        </div>
        <div class="col">
          <button class="btn btn-primary">Contactos</button>
        </div>
        <div class="col">
          <button class="btn btn-outline-primary">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</div>
